<h5>Chart Building</h5>
<p>
    Displaying Charts here that are made using amcharts4.  I like this package but can code in Chart.js or Google Charts as well but think the amcharts provides the best solution currently.
    <br/>
    <br/>
    <a href="https://www.amcharts.com/">Am Charts</a>
</p>
<br/>
<h5>API Calls
    <img src="../../../assets/media/aspnetcore-logo.png" title=".NetCore"/>
</h5>
<p>
    The data for the two charts is being feed from the API project, specifically the chart controller.
</p>
