<h5>Basic Forms
    <img src="../../../assets/media/angular-logo.png" title="Angular"/>
</h5>
This is mainly to show I can make a basic form that actually works with a basic validator.  This form works so feel free to give it a try with some feedback.
<br/>
<br/>
<h5>Azure Services
    <img src="../../../assets/media/Azure-logo.png" title="Azure"/>
    <img src="../../../assets/media/aspnetcore-logo.png" title=".NetCore"/>
</h5>
This app is hosted on Azure and this demonstrates using a service on the Azure side to send an email to you and I.  I am using Send Grid which is a plug in that I access through .NetCore which send a request to a seperate service I have enabled on Azure.
<br/>
<br/>
<a href="https://sendgrid.com/partners/azure/">SendGrid</a>
<br/>
<br/>
<h5>Thank You!</h5>
<p>Thanks for taking the time to looking at my app, any feedback is helpful</p>