  <div id="infowrapper">
      <h4>
          Code Examples
      </h4>
      <p>
          below are a few things I have built to hightlight some of my dev knowledge.  In the pictures I have placed some icons for the languages or 
          skills used so you can quickly get to what that page pertains to as well as a info overlay (accessable on top right of the page) on each page that really talks about the concepts 
          I am using on the page.
      </p>
  </div>
  <div class="card-columns">
    <div class="card bg-light">
        <img class="card-img-top" src="https://lh3.googleusercontent.com/NX-5uvz0uEyV9YQeMaIQKk2YP6kXPUxz1ty4YiMaam80LtdQ5YwUbcXib5DWkv1MFrxi0bx3gqMGJDEwmZSkTC5nLulVmu8vGs4I5pAJ8mL2FVA9AU8_LWGScpHh4wRl478JrTTnRhQ=w2400" alt="Card image">
        <div class="card-body text-center">
            <h4 class="card-title titlehighlight">Google Maps</h4>
            <p class="card-text">Shows a lot of examples of using different options in Google Maps API</p>
            <a href="#google" class="btn btn-primary">See Example</a>
        </div>
    </div>
    <div class="card bg-primary">
        <img class="card-img-top" src="https://lh3.googleusercontent.com/py52oPQKCbaJ_txUK9K62hkY7c2x4gO82bUsbu7fVJP6NjkGFhzLdYkTS_fhh9OxDUUxKMH8UDqTlWKFyaRlJsRRChhvvvKgrvfrQ1PITrb8b5OGHcRqAezrea_VXae6oBQw9ay_Hrw=w2400" alt="Card image">
        <div class="card-body text-center">
            <h4 class="card-title titlehighlight">Games</h4>
            <p class="card-text">Some games I found written in Angular that I ported into my app for a little fun.</p>
            <a href="#games" class="btn btn-primary">See Example</a>
        </div>
    </div>
    <div class="card bg-primary">
        <img class="card-img-top" src="https://lh3.googleusercontent.com/xYi5hVHZek2dxm6Q1l_38ESc2ID3pfy31U4zMELyBkKrOXAPvZrX_9sEcI0PpvRzup-JYLdpiLWZgMLM34liEJE76vjaiwy2rz0yFTtCZsJdAVN5r3pSi39zXXW5Q3pZQnwJsoKCSNk=w2400" alt="Card image">
        <div class="card-body text-center">
            <h4 class="card-title titlehighlight">Twitter API</h4>
            <p class="card-text">A page to pull my Tweets as well as let you search for others</p>
            <a href="#twitter" class="btn btn-primary">See Example</a>
        </div>
    </div>
    <div class="card bg-light">
        <img class="card-img-top" src="https://lh3.googleusercontent.com/MSi-4J32tBmFQTBQ_0qL1wWPpUN1GX5Mog5dvX9emDeId89y4t0PBKM_IpmwQi0J3RxDJgp-A9w2_s5xF_NjnXANgjXPj3IkVipJIEE3GFLEPoONr_WCqzSB1YdtCCzSuRB2vymvduQ=w2400" alt="Card image">
        <div class="card-body text-center">
            <h4 class="card-title titlehighlight">AmateurAstronomer.net</h4>
            <p class="card-text">I built another website for my hobby in astronomy, but more blog focused. (will take you out of this site)</p>
            <a href="https://amateurastronomer.net/#/" class="btn btn-primary">See Example</a>
        </div>
    </div>
    <div class="card bg-light">
        <img class="card-img-top" src="https://lh3.googleusercontent.com/V9RSswJcSRCkvEGRK4kw1eZDonf470vbxRTzOIWkXz3Ojtb1KOjrrHecHifPsaa8auEJgfa_Ii9PTWWG-lJUet94X46KVxrJF7uzLnCqoXiN-NbGZW8W5UPVtm3PxDSFG49dlH2WwII=w2400" alt="Card image">
        <div class="card-body text-center">
            <h4 class="card-title titlehighlight">My Dev Blog</h4>
            <p class="card-text">Pulls blog entries from MongoDB database from .NetCore backend</p>
            <a href="#blog" class="btn btn-primary">See Example</a>
        </div>
    </div>
    <div class="card bg-info">
        <img class="card-img-top" src="https://www.w3schools.com/bootstrap4/img_avatar3.png" alt="Card image">
        <div class="card-body text-center">
            <h4 class="card-title titlehighlight">John Doe</h4>
            <p class="card-text">Some example text.</p>
            <a href="#google" class="btn btn-primary">See Profile</a>
        </div>
    </div>
  </div>