<img class="round-avatar-inner" src="../../../assets/media/profile.jpg"/>
<div id="aboutwrapper">
    <h4>About Me</h4>
    <p> 
        My name is Jeff Heldridge, I am currently a Software Engineer and have been coding for over 7 years. I have pretty much been in the Financial Service Industry for most of that time and would be excited to branch out from it a bit.  Although I do really enjoy coding outside of work to learn new things, it’s also a hobby for me.
    </p>
    <p>
        I wanted to make a site for myself to keep me busy as well as learn some new stuff like Azure hosting and Mongo.  For most of my seven years I have been a full stack developer primarily working in Angular/Angular.js and .Net.  My current job though has me coding in Java in a Spring framework using Maven, and Eclipse with a Dojo/JavaScript frontend.
    </p>
    <p>
        I got started in coding by originally getting tired of my data entry job and learned how to program Excel Macros in .VBA and was able to automate a lot of my job.  I realized I needed to learn how to create web applications to automate even more things so I ended up going to school for an associate’s degree in web design from Metro Community College, and then eventually a bachelor’s degree from Bellevue University in Computer Science.
    </p>
    <p>
        Beyond coding I have been able to develop some good soft skills as well. I have been able to work for some really great people who have taught me to be a good influence on others, as well as good communicator, leader, and someone who is able to work well with other groups.
    </p>  
    <h4>Coding Skills Chart</h4>
    <div id="codeskills"></div>
    <h4>Soft Skills Chart</h4>  
    <div id="softskills"></div>
</div>