<img class="round-avatar-inner" src="../../../assets/media/profile.jpg"/>
<div id="aboutwrapper">
    <h4>About Me</h4>
    <p> 
        My name is Jeff Heldridge, I am currently a senior software engineer and have been coding for over 6 years.  
        I have pretty much been in the Financial Service Industry for most of that time and would be excited to branch out from it a bit.
    </p>
    <p>
        I figured making a site for myself would be a good idea as its pretty easy and it can showcase some of my design descisions as well as obviously show that I can do what I say.
        Primarly I code in C#, .Net, SQL (SSMS), and Angular.  I pretty much started off teaching myself working with macros in VB out of Excel but figured I should get a more polished education.
        So I went and got a bachelors of science in computer systems from Bellevue University here in Omaha NE, and as I was in school I was able to start working on apps and apis at work.
    </p>
    <p>
        I have worked on projects using Java, VB.ASP.NET, C#.ASP.NET, jQuery, Dojo, Angular.JS, .NetCore to name a few so I can usually figure out what I need to pretty quickly. 
    </p>
    <p>
        Beyond coding I feel like I also have some good soft skills as well.  I feel like I can be a good influence on others, as well as good communicator, leader, and someone who is able to work well with other groups.
    </p>  
    <h4>Coding Skills Chart</h4>
    <div id="codeskills"></div>
    <h4>Soft Skills Chart</h4>  
    <div id="softskills"></div>
</div>
