<div class="jumbotron">
    <div id="sociallinks">
        <a href='https://www.linkedin.com/in/jeff-heldridge-02235698/'><i class="fa fa-linkedin-square fa-2x fa-inverse" aria-hidden="true"></i></a>
        <a href='https://twitter.com/JMHeldridge'><i class="fa fa-twitter-square fa-2x fa-inverse" aria-hidden="true"></i></a>
        <a href='https://github.com/bull5150'><i class="fa fa-github-square fa-2x fa-inverse" aria-hidden="true"></i></a>
    </div>
    <div id="textcontainer">
        <h1>Console.WriteLine("<span class="jumbospanh6">Welcome!</span>")</h1>
        <h6>A Coding Site for <span class="jumbospanh6">Jeffrey Heldridge</span></h6>
    </div>
</div>
