<div id="gameswrapper">
    <div class="row">
        <div class="col-sm-3">
            <a routerLink="/snake"><img src="./../../../assets/media/snakeimage.png"/></a>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3">
            <span class="imagelabel"></span>ngxSnake
        </div>
    </div>
    <br/>
    <br/>
    <br/>
    <div class="row">
        <div class="col-sm-3">
            <a routerLink="/tetris"><img src="./../../../assets/media/tetrisimage.png"/></a>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3">
            <span class="imagelabel"></span>Tetris
        </div>
    </div>
</div>
