<div id="welcomewrapper">
    <p>
        This is a website I made to show off a few things I have learned to try and highlight myself better.  I feel like it is always better to show what you can do, than to try and explain code in my github or hope they even look at my github.  Plus its really easy to just say go to myname.com to see an example of my working code.
    </p>
    <p>
        I am hoping that you come away from this site with a general understanding of what I can do as well as my general styling for websites.
    </p>
    <p>
        Please use the tool tip on the right side of the screen for navagation as well as descriptions of what I am trying to show.
    </p>
    <table>
        <tr>
            <td><i class="fa fa-home fa-2x" aria-hidden="true"></i></td>
            <td>Home - this page</td>
        </tr>
        <tr>
            <td><i class="fa fa-user fa-2x" aria-hidden="true"></i></td>
            <td>About - info page about me and this site</td>
        </tr>
        <tr>
            <td><i class="fa fa-globe fa-2x" aria-hidden="true"></i></td>
            <td>Google Map API</td>
        </tr>
        <tr>
            <td><i class="fa fa-twitter fa-2x" aria-hidden="true"></i></td>
            <td>Twitter API</td>
        </tr>
        <tr>
            <td><i class="fa fa fa-envelope fa-2x" aria-hidden="true"></i></td>
            <td>Form</td>
        </tr>
        <tr>
            <td><i class="fa fa-gamepad fa-2x" aria-hidden="true"></i></td>
            <td>Games</td>
        </tr>
        <tr>
            <td><i class="fa fa-times-circle fa-2x" aria-hidden="true"></i></td>
            <td>Close Tool Tip</td>
        </tr>
    </table>
</div>