@import "./assets/bootswatch/bootstrap.min.css";

:root{
    --apptheme: #9f00ff;
    --subcolor: #555;
    --bannertheme: rgba(159,0,255,.75);
}
.tooloverlaylg{
    position: fixed;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 2;
    cursor: pointer;
    margin-left: calc(88% - 250px);
}
.tooloverlaysm{
    position: fixed;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 2;
    cursor: pointer;
    margin-left: calc(100% - 45px);
}
button{
    width: 45px;
    height: 45px;
    background-color: #333;
}
#toolbuttons{
    float: left;
    width: 45px;
    height: 100%;
    background-color: rgba(5,5,5,0.5);
}
#aboutoverlay, #twitteroverlay, #emailoverlay, #gamesoverlay, #blogoverlay, #polygon-overlay, #angularformsoverlay {
    position: fixed;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 2;
    cursor: pointer;
    margin-left: calc(88% - 205px);
}
#googlemapoverlay {
    position: fixed;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 2;
    cursor: pointer;
    margin-left: calc(88% - 205px);
    overflow-y: scroll;
    /* direction: rtl; */
}
#googlemap-area, #about-area, #twitter-area, #email-area, #games-area, #blog-area, #poly-area, #angularforms-area {
    flex-wrap: wrap;
    margin-right: 7px;
    margin-left: 7px;
    margin-top: 10px;
    text-decoration: none;
    color: #fff;
}
footer {
    bottom:0;
    width:100%;
    height:250px;   /* Height of the footer */
    margin-top: calc(34% - 250px);
 }

.bg-primary {
    background-color: #ccc !important;
 }

.inputttt {
    font-size: 0.765625rem;
    text-transform: uppercase;
    background-color: #1a1a1a;
    color: #fff;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    word-wrap: normal;
    height: 49px;
}


 /* Landscape phones and down */
@media (max-width: 480px) { 
    footer {
        bottom:0;
        width:100%;
        height:350px;   /* Height of the footer */
        margin-top: calc(100% - 350px);
     }
     .tooloverlaysm{
        display: none;
    }
}